div {
  padding-top: 25vh;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  min-width: 535px;
  box-shadow: 0 0 15px 1px #00000066;
}

table thead tr {
  background-color: #2b6147;
  color: #ffffff;
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}
table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr.even {
  font-weight: bold;
  color: #2B6147;
}

table th, table td {
  padding: 12px 15px;
}